* {
    margin: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
}
body {
    width: 100%;
}
header {
    padding: 20px;
    min-width: 1200px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.726);
    color: rgb(117, 116, 116);
}
.icon {
    position: relative;
    top: 3px;
    right: 5px;
    width: 18px;
    height: 18px;
    object-fit: contain;
}
.icon-2 {
    position: relative;
    top: 12px;
    right: 10px; 
    width: 24px;
    padding: 5px;
    border-radius: 25px;
}
#gapps {
    z-index: 1;
    cursor: pointer;
}
#space {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: -11px;
    opacity: 0;
    width: 36px;
    height: 36px;
    border-radius: 25px;
    background-color: black;
}
#space:hover{
    opacity: 0.1;
}
.header-link {
    cursor: pointer;
}
#current-link {
    position: relative;
    color: rgba(0, 110, 255, 0.808);
    border-bottom: 2px solid  rgba(0, 110, 255, 0.808);
    padding: 10px;
}
#sign-in {
    padding: 8px 20px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: rgba(0, 110, 255, 0.808);
}
#right-side {
    position: relative;
    top: -5px;
    right: 5px;
}
.search-icons {
    position: relative;
    margin: 0 5px;
    top: -10px;
    left: 600px;
    z-index: 1;
    width: 24px;
}
#first-row {
    display: flex;
    justify-content: space-between;
    
}
#search-bar {
    display: inline-block;
    margin: 20px;
}
#search-field {
    position: absolute;
    outline: none;
    top: 22px;
    left: 170px;
    padding: 12px;
    border-radius: 24px;
    border: 1px solid lightgray;
    width: 650px;
}
#search-field:hover {
    box-shadow: 0px 1px 5px 0px rgba(211,211,211,1);}
#hdr-img {
    width: 95px;
    cursor: pointer;
    padding: 6px 5px;
}
#second-row {
    display: flex;
    align-items: baseline;
    position: absolute;
    left: 30px;
    top: 80px;
    margin-left: 100px;
    width: 710px;
    justify-content: space-around;
}
#tools {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
}
#tools:hover {
    border: 1px solid rgb(207, 207, 207);
    background-color: rgba(241, 241, 241, 0.829);
    border-radius: 2px;
    
}
.navigation li {
    display: inline-block;
    margin: 0 10px;
}
#main {
    width: 670px;
    margin-left: 170px;
    margin-top: -15px;
}
.section {
    padding: 10px;
    margin: 20px;    
}
.article {
    margin: 10px;
    line-height: 1.7rem;
}
h3 {
    font-size: 1.5rem;
    font-weight: normal;
}
section a {
    text-decoration: none;
}
section a:hover {
    text-decoration: underline;
}
div p {
    color: rgb(46, 45, 45);
}

#videos {
    display: grid;
    margin-left: -10px;
    grid-template-columns: repeat(3, 210px);
    grid-template-rows: 320px;
} 
#vid {
    position: relative;
    top: -30px;
}
#gitem-1, #gitem-2, #gitem-3 {
    
}
.corner-wrapper p {
    padding: 10px;
    color: inherit;
}
.video-desc {
    position: absolute;
    bottom: 0;
    line-height: 5px;     
}
.corner-wrapper {
    
    display: block;
  overflow: hidden;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  transform: translateZ(0px);
  border: 1px solid #eee;
}
#dropdown {
    position: relative;
    top: -20px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-left: 30px;
    padding: 0;
}
.dropdown p {
    position: relative;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px;
}
#dropdown h3 {
    padding: 10px 10px;
}
#dropdown  {
    line-height: 1.7rem;
}
.icon-3 {
    width: 16px;
    position: absolute;
    right: 10px;
}
.question {
    border-top: 1px solid #eee;
}
.dropdown-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    padding: 10px;
    position: absolute;
    background-color: white;
    min-width: 560px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.dropdown-content p {
    font-size: 16px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-link {
    font-size: 13px !important;
    line-height: 1px;
}
#prices {
    border: 1px solid #eee;
    border-radius: 5px;
    border-spacing: 0px;
}
.td, .th {
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: 5px;
}
#single {
    position: relative;
    top: -25px;
}
#images {
    position: relative;
    top: -45px;
}
#rounded-links {
    display: flex;
    align-items: center;
    margin: 15px;
    margin-left: -45px;
    list-style-type: none;
}
#rounded-links li {
    width: fit-content();
    font-size: 12px;
    text-align: center;
    padding: 8px;
    margin-left: 5px;
    border-radius: 20px;
    border: 1px solid #eee;
}
#rounded-links li:hover {
    background-color: rgba(177, 177, 177, 0.103);
}
#rounded-links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.863);
}
#arrow-1 {
    position: relative;
    top: 3px;
    left: 10px;
    width: 12px;    
}
#gallery {
    display: flex;
    position: relative;
    right: 10px;
    align-items: center;
}
.galler-img{
    margin-left: 10px;
    width: 140px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
#arrow-2 {
    width: 16px;
    position: relative;
}
.cover {
    position: absolute;
    opacity: .4;
    top: 56px;
    right: -18px;
    width: 36px;
    height: 36px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(211, 211, 211, 0.774);
    box-shadow: 0px 0px 3px 0px gray;
}
#feedback {
    position: absolute;
    color: rgb(124, 124, 124); 
    font-size: 0.9rem;
    font-style: italic;
    bottom: -25px;
    left: 550px;
}
#gallery-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#gallery-btm-lft {
    position: relative;
    left: 5px;   
}
#gallery-btm-lft img {
    position: relative;
    top: 6px;
}
#gallery-btm-lft span {
    position: relative;
    bottom: 1px;
    left: 10px;
    font-size: 1.15rem;
}
#gallery-btm-rght a{
    position: relative;
    font-size: 0.95rem;
    right: 30px;
    top: 5px;
    color: rgb(124, 124, 124);
}
#gallery-btm-rght a:hover {
    text-decoration: none;
}
#arrow-3 {
    width: 24px;
}
#last {
    position: relative;
    top: -60px;
}
#more-links {
    position: relative;
    top: -90px;
}
#more-links-main {
    display: flex;
    padding-top: 30px;
    line-height: 2rem;
}
#more-links-left p, #more-links-right p {
    font-weight: bold;
    color: #0000ce;
}
#more-links-left a:hover, #more-links-right a:hover {
    text-decoration: none;
}
#more-links-left {
    display: flex;
    flex-direction: column;
}
#more-links-right {
    display: flex;
    position: relative;
    left: 100px;
    flex-direction: column;
}
.os {
    width: 24px;
    margin: -2px;
}
.gs {
    position: relative;
    bottom: 12px;
    width: 35px;
    margin: -2px;
}
.gle {
    position: relative;
    bottom: 1px;
    width: 95px;
    margin: -1px;
}
.g-num {
    text-align: center;
    position: relative;
    top: 7px;
}
.g-num-next {
    position: relative;
    bottom: 7px;
    left: 67px;
}
#google {
    position: relative;
    top: -90px;
    left: 180px;
}
footer {
    width: 100%;
    min-width: 1200px;
    position: absolute;
    top: 2500px;
    background-color: rgba(228, 228, 228, 0.705);
    border-top: 1px solid lightgray;
}
#f-first-row-right ul {
    display: flex;
    list-style-type: none;
}
#f-first-row-right li {
    margin-left: 10px;
}
#f-first-row-right a {
    text-decoration: none;
    color: rgb(117, 116, 116);
}
#f-first-row-right p {
    color: rgb(117, 116, 116);
}
#f-second-row ul {
    display: flex;
    list-style-type: none;
}
#f-second-row a {
    text-decoration: none;
    color: inherit;
}
#f-second-row li {
    margin-left: 30px;
    position: relative;
    left: 120px;
    color: rgb(117, 116, 116);
}
#f-first-row-left {
    border-right: 1px solid lightgray;
    width: 225px;
    margin: 6px;
    padding: 7px 12px;
}
#f-first-row-left p {
    text-align: right;
    color: rgb(117, 116, 116);
}
#f-first-row-right {
    display: flex;
    align-items: center;
}
#f-first-row-right p, #f-first-row-right b {
    position: relative;
    right: 35px;
}
#f-second-row {
    border-top: 1px solid lightgray;
    padding: 12px;
}
#f-first-row {
    display: flex;
}